.containerOptions {
  min-height: 100vh;
  /* height: 100%; */
  width: 100%;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.3) 23%,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* .bg {
  filter: drop-shadow(100);
} */

.modalOptions {
  background-color: #30303058;
  backdrop-filter: blur(20px);
  max-width: 48rem;
  border: 3px solid #ccb7a98a;
  border-radius: 20px;
}

@media screen and (max-width: 998) {
  .modalOptions {
    max-width: 36rem;
  }
}

.inputOptions {
  width: 22rem;
}

.tableOptions {
  border-bottom: 1px solid #faf4f0;
}

.voidCart {
  height: 36rem;
  background-color: #30303058;
  backdrop-filter: blur(20px);
  max-width: 48rem;
  border: 3px solid #ccb7a98a;
  border-radius: 20px;
}
