.vinoOptions {
  border-bottom: 1px solid #474c55;
  background-color: #1e1b1c;
}

.selected {
  color: #474c55;
  background-color: #ccb7a9;
}

.commensaliBtn {
  background-color: #ccb7a9;
  color: #faf4f0;
  border: 1px solid #faf4f0;
  border-radius: 2px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform: scale(0.85);
}

.commensaliBtn:hover {
  background-color: #ccb7a9 !important;
  transform: scale(1.04);
  animation-name: buttonAnimation !important;
  animation-duration: 0.5s !important;
}

.btnDisabled {
  background-color: #ccb7a9;
  color: #faf4f0;
  border: 1px solid #faf4f0;
  border-radius: 2px;
  opacity: 0.5;
  transform: scale(0.85);
}

.btnContent {
  margin-bottom: 2px;
}

.animation {
  animation: popup ease 1s;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .accordionContainer {
  display: grid;
  grid-template-rows: 0fr;
}

.animation {
  overflow: hidden;
  height: auto;
  animation: growth ease 1s;
}

@keyframes growth {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
} */
