.menuMainOptions {
  height: 100vh;
  width: 100vw;
  padding: 0 10rem;
  position: absolute;
  top: 0%;
  z-index: 1;
  animation: menuAnimation ease 1s;
}

/* .menuScrollup {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100%;
  z-index: 1;
  padding-top: 500px;
  animation: menuScrollup ease 1s;
} */

.menuContainer {
  /* width: calc(100vw - 6%); */
  /* margin: auto; */
  height: 100%;
}

.menuTitle {
  font-size: 3.5rem;
  font-family: "Abril Fatface", cursive;
}

@keyframes menuAnimation {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
/* @keyframes menuScrollup {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
} */
