.modal {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 47rem;
  background-color: #303030;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

@media screen and (max-width: 799px) {
  .modal {
    animation: popupMobile ease 1s;
    transform: translate(-50%, 0);
    z-index: 10000;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 0.375rem;
    animation: popupDesktop ease 1s;
  }
}

.closeModal {
  position: absolute;
  top: 0;
  right: -3.6px;
  font-size: 1.4rem !important;
  cursor: pointer;
  background-color: #ccb7a9;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
}

.closeModal:hover {
  transform: scale(1.1);
}

.closeModal {
  font-size: 2rem;
}

.titleOptions {
  color: #ccb7a9 !important;
}

.inputOptions {
  width: 22rem;
}

@media screen and (min-width: 768px) {
  .inputOptions {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .bgModal {
    background-image: url("../../assets/sfondoModale.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
  }

  .imgFilter {
    height: 100%;
    width: 100%;
    background-color: rgb(48, 48, 48, 0.7);
    backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 420px) {
  .inputOptions {
    width: auto;
  }
}

@keyframes popupDesktop {
  0% {
    transform: translate(-50%, 50%) scale(0);
  }
  100% {
    transform: translate(-50%, 50%) scale(1);
  }
}
