.mainContainer {
  /* padding-top: 6rem; */
  width: 77%;
  margin: auto;
  padding: 6rem 5rem;
  background-color: #303030;
  overflow-y: auto;
  max-height: 100vh;
  animation: mainContainer ease 1s;
}

.popup {
  animation: popup ease 1s;
}

@keyframes popup {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.chefNameContainer {
  border-left: 2px solid #ccb7a9;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-left: calc(1.5rem * 0.5);
}

.chefName {
  font-size: 3rem;
  color: #faf4f0;
  font-family: "Abril Fatface", cursive;
}

.goBackLink {
  transition: transform 1s;
  transition-timing-function: ease;
}

.goBackLink:hover {
  transform: translateX(10px);
}

.chefImage {
  height: 400px;
  /* width: calc(100% - 5%);
  margin: auto; */
}

.copyOptions {
  /* width: 50%; */
  font-size: 1.1rem;
}

.chefName {
  font-size: 2.8rem;
}

.copyOptions {
  /* width: 100%; */
  font-size: 1rem;
}

.commensaliBtn {
  background-color: #ccb7a9;
  color: #faf4f0;
  border: 1px solid #faf4f0;
  border-radius: 2px;
  transition: transform 0.3s;
  transition-timing-function: ease;
  transform: scale(0.8);
}

.commensaliBtn:hover {
  background-color: #ccb7a9 !important;
  transform: scale(0.9);
  /* animation-name: buttonAnimation !important;
  animation-duration: 0.5s !important; */
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-color: #ccb7a9;
  border-radius: 2px;
  transition: transform 0.3s;
  transition-timing-function: ease;
}
::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.1);
}

::-moz-calendar-picker-indicator {
  cursor: pointer;
  background-color: #ccb7a9;
  border-radius: 2px;
}

::-ms-calendar-picker-indicator {
  cursor: pointer;
  background-color: #ccb7a9;
  border-radius: 2px;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ccb7a9;
  margin: 0.75rem 0;
}

.inputOptions {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #faf4f0;
  padding: 0 2rem 0 5px;
}

.winesContainer {
  /* padding: 0.5rem 0;
  background-color: #1e1b1c; */
  opacity: 1;
  animation: winesContainer ease 1s;
}

@keyframes winesContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnDisabled {
  background-color: #ccb7a9;
  color: #faf4f0;
  border: 1px solid #faf4f0;
  border-radius: 2px;
  opacity: 0.5;
  transform: scale(0.85);
}

.btnContent {
  margin-bottom: 2px;
}

/* @keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    background-color: #c8beb7;
  }

  100% {
    transform: scale(1.04);
    background-color: #ccb7a9;
  }
} */

@media screen and (max-width: 1040px) {
  .chefName {
    font-size: 2.5rem;
  }
  .colNameOptions {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 998px) {
  .mainContainer {
    padding: 6rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .chefNameContainer {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .mainContainer {
    padding: 6rem 2rem;
    margin: 0;
    width: 100%;
  }
}
